body {
    font-family: 'Baloo Bhaina 2';
    margin: 0;
    padding: 0;
}

p {
 font-size: 20px;

}


li {
    list-style: none;
    margin-right: 25px;

}


.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    display: flex;
}

.lista {
    display: flex;
}


.titular {
    text-align: center;
    margin-top: 500px;
}

h1 {
    font-size: 55px;
    margin: 0;
}

h2 {
    font-size: 25px;
    margin-bottom: 40px;
}


a {
    text-decoration: none;
    color: white;
    background: #5CB8FF;
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
}

header {
    background: url(MayCoquetaMod.jpg);
    height: 100vh;
    background-size: cover;
}

.contenedor {
    max-width: 1920px;
    width: 90%;
    margin: auto;
}


/* SECCIÓN SOBRE MI */

h3 {
    text-align: center;
    font-size: 45px;    
    font-weight: normal;
}

.contenedor-sobremi {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contenedor-sobremi img {
    border-radius: 10px;
}

.contenedor-parrafoyboton {
    width: 45%;
}

.contenedor-parrafoyboton p {
    font-size: 18px;
}

.contenedor-parrafoyboton a {
    margin-top: 20px;
    display: inline-block;
}


.contenedor-servicios {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.servicio {
    width: 25%;
    padding: 40px 28px 40px 28px;
    border-radius: 10px;
    margin-bottom: 40px;
    color: white;
}

.violeta {
    background: #CCB7C7;
}

.celeste {
    background: #B5B5B5;
}

.servicio h4 {
    font-size: 30px;
    margin: 0;

}

.servicio img {
    border-radius: 5px;
    float: right;
}

.servicio p {
    font-size: 19px;
}
