body {
    background-color: black;
    color: lightpink;
    text-align: center;
    margin-top: 300px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
